
<%= render 'shared/indexbanner'%>
<%= render 'shared/tabs'%>
<div class="tabs tabs-content-container">
  <div class="tab-content active">
    <h2></h2>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= render 'shared/indexcard', team: "Militär"%>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= render 'shared/indexcard', team: "Lacrosse"%>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= render 'shared/indexcard', team: "Family"%>
    </div>
<!--     <div class="col-xs-12 col-sm-4">
      <%#= render 'shared/indexcard', team: "Friends"%>
    </div> -->
  </div>
</div>

