<h2><%= @team.name.capitalize %></h2>
<div id="table-scroll" class="table-scroll"">
  <div class="table-wrap">
    <table class="main-table">
      <thead>
        <tr>
            <th class="fixed-side" scope="col">Teammates</th>
            <% @team.columns.each do |column| %>
              <th scope="col"><%= column.name %></th>
            <% end %>
        </tr>
      </thead>
      <tbody>
        <% @team.assigned_teams.each do |assT| %>
          <% user = User.find(assT.user_id) %>
          <tr>
            <th class="fixed-side"><%= user.username %></th>
            <% @cards = [] %>
            <% @team.columns.each do |column| %>
              <% @cards << Card.where(column_id: column.id, user_id: user.id)%>
              <td>
                <% @cards.each do |card| %>
                <% if !card[0].nil? %>
                    <% card.each do |c| %>
                      <table class="inner-table">
                        <tr>
                          <td class="td-1">
                            <%= c.name %>:
                          </td>
                          <td class="td-2">
                            <%= c.description%>
                          </td>
                        </tr>
                      </table>
                    <% end %>
                  <% end %>
                <% end %>
              </td>
              <% @cards = [] %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
