<div class="row" id="user-show-navbar">
  <div class="display-flex">
    <p id="team-info"> All Teams</p>
  </div>
  <div class="display-flex" id="filter-input">
    <%= form_tag filtered_teams_path, method: "get", class: "form-inline", remote: true do %>
      <%= label_tag "Team" %>
      <%= select_tag :team, options_for_select(current_user.teams.collect{|u| [u.name]}.push("All Teams"), "All Teams")%>
      <%= submit_tag "Apply", name: nil, class:"btn btn-primary btn-sm"%>
    <% end %>
  </div>
  <div class="display-flex" id="create-column">
    <%= link_to "Create column", new_column_path, class: "btn btn-primary btn-sm" %>
  </div>
</div>

<div class="grid-container" style="min-height: calc(100vh - 102px); padding: 0px; margin: 0px">
  <div class="row column-row" id="row-for-columns">
    <%= render 'columns/columns', columns: @columns%>
  </div>
</div>
