<div class="row" id="user-show-navbar">
  <div class="display-flex">
    <p id="team-info"> All Teams</p>
  </div>
  <div class="display-flex" id="filter-input">
    <%= form_tag filtered_teams_path, method: "get", class: "form-inline", remote: true do %>
      <%= label_tag "Team" %>
      <%= select_tag :team, options_for_select(current_user.assigned_teams.collect{|asst| [asst.team.name]}.push("All Teams"), "All Teams")%>
      <%= submit_tag "Apply", name: nil, class:"btn btn-primary btn-sm"%>
    <% end %>
  </div>
  <div id="create">
    <%= link_to(new_column_path) do %>
      <div class="display-flex btn btn-primary btn-sm">
        <i class="fas fa-plus"></i>
        <p>New Column</p>
      </div>
    <% end %>
  </div>
  <div id="create">
    <%= link_to(new_team_path) do %>
      <div class="display-flex btn btn-primary btn-sm">
        <i class="fas fa-plus"></i>
        <p>New Team</p>
       </div>
    <% end %>
  </div>
</div>

<div class="grid-container" style="min-height: calc(100vh - 102px); padding: 0px; margin: 0px">
  <div class="row column-row" id="row-for-columns">
    <%= render 'columns/columns', columns: @columns%>
  </div>
</div>
