<div class="container">
  <h1>Create new column</h1>

  <%= simple_form_for(@column) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.label "Make Public ? " %>
    <%= f.input_field :shared, as: :radio_buttons %>
    <%# current_user.teams.each do |team| %>
    <% if params[:team] %>
      <input name="team_ids" type="hidden" value=<%= @team.id %>>
    <% else %>
      <%= f.label "Add to ? " %>
      <%= f.collection_check_boxes(:team_ids, Team.all, :id, :name) do |b| %>
        <% b.label(:"data-value" => b.value) { b.check_box + " #{b.text.capitalize} -  "} %>
      <% end %>
    <% end %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>


