<% current_column.cards.each do |card| %>
    <div class="card card-block card-primary card-inverse card-shared" style="background-image: linear-gradient(#255965, #255965);">
      <div class="row card-category not-shared"><h5><%= card.name %></h5></div>
      <div class="row card-description">
        <div class="card-d-p">
          <p><%= card.description %></p>
        </div>
        <div class="row card-owner">
          <p>Created by: <%= card.user.first_name %> <%= card.user.last_name %></p>
          <div id="delete-button">
            <% if policy(card).destroy? %>
              <%= link_to "", column_card_path(current_column, card), method: :delete, data: {:confirm => 'Are you sure?'}, class:"far fa-trash-alt" %>
            <% end %>
          </div>
        </div>
      </div>
     <!--  <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay"> -->
      <!-- <a class="card-link" href="#" ></a> -->

    </div>
<% end %>
