<% current_column.cards.each do |card| %>
    <div class="card card-block card-primary card-inverse card-shared" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
      <div class="card-category shared"><h2><%= card.name %></h2></div>
      <div class="card-description">
        <p><%= card.description %></p>
      </div class="card-owner">
        <p>Created by: <%= card.user.first_name %> <%= card.user.last_name %></p>
      <div>
      </div>
      <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
      <!-- <a class="card-link" href="#" ></a> -->
      <div id="delete-button">
        <% if policy(card).destroy? %>
          <%= link_to "", column_card_path(current_column, card), method: :delete, data: {:confirm => 'Are you sure?'}, class:"far fa-trash-alt" %>
        <% end %>
      </div>
    </div>
<% end %>
